
.show-modal {
  animation: showing-modal 400ms linear;
}

@keyframes showing-modal {
  0% { background-color: rgba(0, 0, 0, 0); }
  100% { background-color: rgba(0, 0, 0, 0.35); }
}

.show-popup{
  transform-origin: 50% 0;
  animation: showing-popup 300ms ease-in;
}

@keyframes showing-popup{
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  20% {
    opacity: 0;
    transform: scaleY(1);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}


.show-cont {
  animation: showing-cont 400ms ease-out;
}

@keyframes showing-cont {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 540px) {
  .show-modal {
    animation: showing-modal 200ms linear;
  }
  .show-popup {  
    animation: showing-popup 150ms ease-in; 
  }
  .show-cont {
    animation: showing-cont 200ms ease-out;
  }  
}