
.button-tab {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 300px;
  color: gray;
  line-height: 1.3;
  background-color: #232f3b;
  padding: 3px 8px;

  /*
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.button-tab:hover {
  color: rgba(164, 135, 212, 1);
  font-weight: bold;
}

.button-tab--show {
  color: rgba(164, 135, 212, 1);
}
.button-tab--show:hover {
  color: #a487d4;
  font-weight: bold;
}

.bt-sub-item {
  color: grey;
  line-height: 1.8;
  font-weight: normal;
  border-bottom: 1px solid;
  cursor: pointer;
}
.bt-sub-item:hover {
  color: #a487d4;
  font-weight: bold;
}

.arrow-down {
  display: inline-block;
  position: relative;
  top: 3px;
  height: 0;
  width: 0;
  margin-left: 6px;
  border-width: 5px;
  border-style: solid;
  /* stylelint-disable */
  border-top-color: inherit;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  /* stylelint-enable */
}

.button-circle {
  display: inline-block;
  position: relative;
  top: 4px;
  border-radius: 50%;
  border: 2px solid gray;
  width: 24px;
  height: 24px;
  padding: 0;
  stroke: gray;
  cursor: pointer;
}
.button-circle:hover {
  border: 2px solid rgba(164, 135, 212, 1);
  stroke: rgba(164, 135, 212, 1);
}

.svg-resize {
  width: 22px;
  height: 22px;
  padding: 2px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid gray;
  stroke: gray;
  line-height: initial;
  cursor: pointer;
}
.svg-resize:hover {
  border: 2px solid rgba(164, 135, 212, 1);
  stroke: rgba(164, 135, 212, 1);
}

.bt__watch__bar {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 20px;
  width: auto;
  height: auto;
  border: 2px solid gray;
  color: gray;
  cursor: pointer;
  transition: color, border-color 200ms ease-out;
}
.bt__watch__bar:hover {
  color: #80c040;
  border-color: #80c040;
}

.not-selected {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome all / Safari all / Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox all */
  -ms-user-select: none;       /* IE 10+ */
  user-select: none;           /* Likely future */
}

[data-loader='circle-failed'] {
  width: 2.5em;
  height: 2.5em;
  border: 3px solid rgba(164, 135, 212, 1);
  border-top-color: transparent;
  border-radius: 100%;
}

button::-moz-focus-inner {
  border: 0;
  outline: 0;
}

.bt-twitter {
  background-color: #1b95e0;
}
.bt-twitter:hover {
  background-color: #0c7abf;
}

.bt-twitter span {
  border-bottom: thin solid;
}
.bt-twitter:hover span {
  border-bottom-width: medium;
}

.bt-flat {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
.bt-flat:focus {
  /* background-color: rgba(220,220,220, 0.2); */
  background-color: rgba(120, 120, 120, 0.2);
}

.bt-flat__div {
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  height: 36px;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.bt-flat__div:hover {
  /* background-color: rgba(220,220,220, 0.2); */
  background-color: rgba(120, 120, 120, 0.2);
}

.bt-flat__span {
  position: relative;
  opacity: 1;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
  user-select: none;
}
