
.chb {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 2px;
  border-radius: 2px;
  border: 2px solid transparent;
}
.chb:focus {
  outline: 0;
  border: 2px solid #fdb316;
}
.chb:hover {
  outline: 0;
}

.chb-checked {
  stroke: #4d4d4d;
  stroke: var(--c-bg);
}

.chb-bl {
  stroke: #1b2836;
  stroke: var(--c-bl);
  fill: #1b2836;
  fill: var(--c-bl);
}

.bt-chb {
  position: relative;
  top: -2px;  
  color: grey;
  padding-left: 8px;  
}

.bt-svg-circle {  
  position: relative;
  top: 4px;
  border-radius: 50%;
  border: 2px solid gray;
  width: 24px;
  height: 24px;
  padding: 0;
  stroke: grey;
}
.bt-svg-circle:hover,
.bt-svg-circle:focus {
  border: 2px solid #a487d4;
  stroke: #a487d4;
}

.bt-resize {  
  width: 26px;
  height: 26px;
  padding: 2px;
  line-height: normal;
  vertical-align: text-bottom;
  border-radius: 50%;
  border: 2px solid grey;
  stroke: grey;
}
.bt-resize:focus,
.bt-resize:hover {
  border: 2px solid #a487d4;
  stroke: #a487d4;
}

.bt__watch__bar {  
  color: grey;  
  padding: 6px 12px; 
  margin-left: 10px;    
  font-weight: bold;  
  border-radius: 20px;  
  border: 2px solid grey;  
  transition: color, border-color 200ms ease-out;
}
.bt__watch__bar:hover,
.bt__watch__bar:focus {
  color: #80c040;
  border-color: #80c040;
}

[data-loader='circle-failed'] {
  width: 2.5em;
  height: 2.5em;
  border: 3px solid '#f44336';
  border-top-color: transparent;
  border-radius: 100%;
}

.bt-flat {
  color: #607d8b;
  color: var(--btf-c);
  height: 36px;    
  background-color: rgba(0, 0, 0, 0);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.bt-flat:hover,
.bt-flat:focus {
  background-color: rgba(128, 128, 128, 0.3);
}

.bt-flat__caption {
  padding: 0 8px;  
  letter-spacing: 0;
  text-transform: uppercase;  
}

.menu-item {
  color: #1b2836;
  color: var(--btf-c);

  outline: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid transparent;
}
.menu-item:focus { 
  background-color: rgba(128, 128, 128, 0.3);
}
