
.chb {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 2px;
  border-radius: 2px;
  border: 2px solid transparent;
}
.chb:focus {
  outline: 0;
  border: 2px solid #fdb316;
}
.chb:hover {
  outline: 0;
}

.chb-checked {
  stroke: #4d4d4d;
  stroke: var(--c-bg, #4d4d4d);
}

.bt-chb {
  position: relative;
  top: -2px;
  display: inline-block;
  color: grey;
  padding-left: 8px;
  font-size: 16px;
  font-weight: bold;
}

.bt-tab {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 300px;
  color: grey;
  line-height: 1.3;
  padding: 3px 8px; 
  background-color: #1b2836;
  border-radius: 0 0 8px 8px;
}
.bt-tab:hover {
  color: #a487d4;
}
.bt-tab:focus {
  border-bottom: 2px solid #a487d4;
}
.bt-tab--show {
  color: #a487d4;
  font-weight: bold;
}

.bt-sub-item {
  width: 100%;
  display: block;
  text-align: left;
  color: grey;
  line-height: 1.8;
  font-weight: normal;
  border-bottom: 1px solid;
}
.bt-sub-item:hover {
  color: #a487d4;
  font-weight: bold;
}

.arrow-down {
  display: inline-block;
  position: relative;
  top: 3px;
  height: 0;
  width: 0;
  margin-left: 6px;
  border-width: 5px;
  border-style: solid;
  /* stylelint-disable */
  /* clean-css ignore:start */
  border-top-color: inherit;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  /* clean-css ignore:end */
  /* stylelint-enable */
}

.bt-svg-circle {
  display: inline-block;
  position: relative;
  top: 4px;
  border-radius: 50%;
  border: 2px solid gray;
  width: 24px;
  height: 24px;
  padding: 0;
  stroke: grey;
}
.bt-svg-circle:hover,
.bt-svg-circle:focus {
  border: 2px solid #a487d4;
  stroke: #a487d4;
}

.bt-resize {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 2px;
  line-height: normal;
  vertical-align: text-bottom;
  border-radius: 50%;
  border: 2px solid grey;
  stroke: grey;
}
.bt-resize:focus,
.bt-resize:hover {
  border: 2px solid #a487d4;
  stroke: #a487d4;
}

.bt__watch__bar {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 20px;
  width: auto;
  height: auto;
  border: 2px solid grey;
  color: gray;
  transition: color, border-color 200ms ease-out;
}
.bt__watch__bar:hover,
.bt__watch__bar:focus {
  color: #80c040;
  border-color: #80c040;
}

[data-loader='circle-failed'] {
  width: 2.5em;
  height: 2.5em;
  border: 3px solid rgba(164, 135, 212, 1);
  border-top-color: transparent;
  border-radius: 100%;
}

.bt-twitter {
  background-color: #1b95e0;
}
.bt-twitter:hover {
  background-color: #0c7abf;
}

.bt-twitter span {
  border-bottom: thin solid;
}
.bt-twitter:hover span {
  border-bottom-width: medium;
}

.bt-flat {
  display: inline-block;
  text-decoration: none;
  font-weight: inherit;
  height: 36px;  
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.bt-flat:hover,
.bt-flat:focus {
  /* background-color: rgba(220,220,220, 0.2); */
  background-color: rgba(120, 120, 120, 0.2);
}

.bt-flat__caption {
  padding: 0 8px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
  user-select: none;
}

.menu-item {
  outline: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid transparent;
}
.menu-item:focus {
  border-bottom: 2px solid #1b75bb;
}
.menu-item:hover {
  background-color: rgba(140, 140, 140, 0.3);
}
