
.bt-chb:hover,
.bt-chb:focus {
  outline: 0
}

.bt-item {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 12px;
  margin-top: 10px;
  font-weight: normal;
  cursor: pointer;
}
.bt-item:hover {
  outline: 0;
}
.bt-item:focus {
  border-width: 2px;
}

.button-tab {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 300px;
  color: gray;
  line-height: 1.3;
  background-color: #1b2836;
  padding: 3px 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.button-tab:hover {
  color: #a487d4;
  outline: 0;
}
.button-tab:focus {
  border-bottom: 2px solid #a487d4;
}
.button-tab--show {
  color: #a487d4;
  font-weight: bold;
}


.bt-sub-item {
  width: 100%;
  display: block;
  text-align: left;
  color: grey;
  line-height: 1.8;
  font-weight: normal;
  border-bottom: 1px solid;
  cursor: pointer;
}
.bt-sub-item:hover {
  color: #a487d4;
  font-weight: bold;
  outline: 0;
}

.arrow-down {
  display: inline-block;
  position: relative;
  top: 3px;
  height: 0;
  width: 0;
  margin-left: 6px;
  border-width: 5px;
  border-style: solid;
  /* stylelint-disable */
  border-top-color: inherit;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  /* stylelint-enable */
}

.button-circle {
  display: inline-block;
  position: relative;
  top: 4px;
  border-radius: 50%;
  border: 2px solid gray;
  width: 24px;
  height: 24px;
  padding: 0;
  stroke: gray;
  cursor: pointer;
}
.button-circle:hover,
.button-circle:focus {
  border: 2px solid rgba(164, 135, 212, 1);
  stroke: rgba(164, 135, 212, 1);
}

.svg-resize {
  width: 22px;
  height: 22px;
  padding: 2px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid gray;
  stroke: gray;
  line-height: normal;
  vertical-align: text-bottom;
  cursor: pointer;
}
.svg-resize:hover {
  border: 2px solid rgba(164, 135, 212, 1);
  stroke: rgba(164, 135, 212, 1);
}

.bt__watch__bar {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 20px;
  width: auto;
  height: auto;
  border: 2px solid gray;
  color: gray;
  cursor: pointer;
  transition: color, border-color 200ms ease-out;
}
.bt__watch__bar:hover,
.bt__watch__bar:focus {
  outline: 0;
  color: #80c040;
  border-color: #80c040;
}

[data-loader='circle-failed'] {
  width: 2.5em;
  height: 2.5em;
  border: 3px solid rgba(164, 135, 212, 1);
  border-top-color: transparent;
  border-radius: 100%;
}

button::-moz-focus-inner {
  border: 0;
  outline: 0;
}

.bt-twitter {
  background-color: #1b95e0;
}
.bt-twitter:hover {
  background-color: #0c7abf;
}

.bt-twitter span {
  border-bottom: thin solid;
}
.bt-twitter:hover span {
  border-bottom-width: medium;
}

.bt-flat {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
.bt-flat:hover {
 outline: 0;
}
.bt-flat:focus {
  /* background-color: rgba(220,220,220, 0.2); */
  background-color: rgba(120, 120, 120, 0.2);
}

.bt-flat__div {
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  height: 36px;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.bt-flat__div:hover {
  /* background-color: rgba(220,220,220, 0.2); */
  background-color: rgba(120, 120, 120, 0.2);
}

.bt-flat__span {
  position: relative;
  opacity: 1;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
  user-select: none;
}

.bt__left {
 text-align: left;
 font-weight: bold;
 cursor: pointer;
}

.menu-item {
 outline: none;
 transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
 background-color: rgba(0, 0, 0, 0);
 border-bottom: 2px solid transparent;
}
.menu-item:focus {
  border-bottom: 2px solid #1b75bb;
}
.menu-item:hover {
  background-color: rgba(140, 140, 140, 0.3);
}
