.progress-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  width: 0;
  background: #2f7ed8 none repeat scroll 0% 0%;
  z-index: 1000;
}

.ellipsis {
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup-menu {
  position: absolute;
  background-color: rgba(77, 77, 77, 1);
  border-bottom: 4px solid green;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 5px;
}
