.progress-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 6px;
  width: 0;
  background: #2f7ed8 none repeat scroll 0% 0%;
  z-index: 1000;
}
@media screen and (min-width: 600px) {
  .progress-line {
    height: 3px;
  }
}

.ellipsis {
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup-menu {
  position: absolute;
  background-color: inherit;
  border-bottom: 4px solid #80c040;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 5px;
}

.charts__menu-more {
  top: 34px;
  left: 0;
  z-index: 2000;
}
