.progress-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 6px;
  width: 0;
  background: #2f7ed8 none repeat scroll 0% 0%;
  z-index: 1000;
}
@media screen and (min-width: 600px) {
  .progress-line {
    height: 3px;
  }
}

.popup-menu {
  position: absolute;
  background-color: inherit;  
}

.box-shadow-5 {
  border-radius: 5px;
  box-shadow: rgba(128, 128, 128, 0.7) 0 0 0 5px;
}

.charts__menu-more {
  top: 34px;
  left: 0;
  z-index: 2000;
}

.err-msg {
  color: #f44336;
  font-weight: bold;
}

.step {
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  border: solid 2px;
  border-radius: 50%;
}