.consent {
  position : absolute;
  z-index : 1100;
  /*
  top : -300px;
  right : 32px;
  width : 355px;
  height : 200px;
  */
  bottom : 0px;
  left : 0px;
  right : 0px;
  height: 125px;
  background-color : #222222;
  border-top: 2px solid #f1d600;
  /*border-radius : 12px;*/
  opacity: 0;
  transition : opacity 1000ms ease-out, bottom 1000ms ease-out;
}

.consent__msg {
  color : #eee;
  padding : 24px;
  padding-bottom: 12px;
  line-height: 1.5;
  font-size: 18px;
}

.consent__row {
  width: 100%;
  text-align: right;
}

.consent__btn {
  display : inline-block;
  color: #000;
  font-weight: bold;
  background-color: #f1d600;

  padding : 8px 15px;
  margin-left: 32px;
  margin-right: 32px;
  border : 3px solid #f1d600;
  border-radius : 5px;
  cursor : pointer;
  transition: color 400ms ease-out;
}
.consent__btn:hover {
  border-color : green;
  color : green;
}


@media only screen and (max-width : 975px) {
  .consent {
    height: 150px;
  }
}
@media only screen and (max-width : 525px) {
  .consent {
    height: 200px;
  }
}
@media only screen and (max-width : 330px) {
  .consent {
    height: 230px;
  }
  .consent__btn{
    margin-left: 16px;
    margin-right: 16px;
  }
}
