.consent {
  position : absolute;
  z-index : 100;
  top : -300px;
  right : 32px;
  width : 355px;
  height : 200px;
  background-color : #222222;
  border: 2px solid #f1d600;
  border-radius : 12px;
  opacity: 0;
  transition : opacity 1000ms ease-out, top 1000ms ease-out;
}

.consent__msg {
  color : #F2716C;
  padding : 24px;
  line-height: 1.5;
  font-size: 18px;
}

.consent__row {
  width: 100%;
  text-align: center;
}

.consent__btn {
  display : inline-block;
  color: #000;
  font-weight: bold;
  background-color: #f1d600;

  padding : 8px 15px;
  border : 3px solid #f1d600;
  border-radius : 5px;
  cursor : pointer;
  transition: color 400ms ease-out;
}
.consent__btn:hover {
  border-color : green;
  color : green;
}
