

.component-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 10px;
}

.hrz-container {
  display : flex;
  flex-direction : row;
}

.modal-root {
  z-index: 1050;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  background: rgba(0,0,0, 0.5) none repeat scroll 0% 0%;
  outline: 0px none;
  transition: opacity 0.15s linear 0s;
}


.header{
  width: calc(100vw - 36px);
  margin-left: 10px;
  margin-right: 26px;
  background-color: rgba(77, 77, 77, 1);
  min-height: 46px;
  border : 3px solid #232F3B;
  border-top: none;
  padding-top: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.row__topic__odd {
  line-height: 1.5;
  background-color: #404040;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  cursor: pointer;
}
.row__topic__even {
  line-height: 1.5;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  cursor: pointer;
}
.row__topic__odd:hover, .row__topic__even:hover {
  border-bottom: 1px solid #1B75BB;
}

.menu__badge {
  display: inline-block;
  /*color: rgba(164, 135, 212, 1);*/
  color: black;
  background-color: #232F3B;
  float: right;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 30%;
}
.menu__badge:hover{
  color: #1B75BB;
}

.svg-close{
  width: 22px;
  height: 22px;
  padding: 2px;
  display: inline-block;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}
.svg-close:hover{
  /*border: 2px solid #ED5813;*/
  background-color: rgba(77,77,77,1);
  border-radius: 50%;
  color: green;
}
