.flex-row {
  display: flex;
  flex-direction: row;
}

.app-container {
  margin: 8px 0 10px 0;  
}

.hrz-container {  
  flex-shrink: 0;
}

.modal-root {
  z-index: 1050;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  opacity: 1;
  background: rgba(0, 0, 0, 0.35) none repeat scroll 0% 0%;
  outline: 0;
}

.menuitem {
  line-height: 2;
  border-left: 4px solid transparent;  
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.menuitem:focus,
.menuitem:active {
  background-color: rgba(128, 128, 128, 0.3);
  outline: 0;
}

.row__topic {
  color: var(--c-bl);
 
  display: flex;
  align-items: center;
  justify-content: space-between; 

  padding-left: 8px;  
}

.row__pane-topic {
  line-height: 2.2;
  padding: 0 8px;      
}

.row__type2-topic {    
  padding-left: 4px;  
}


.item__browser {
  color: var(--btf-c);
}

.item__org {
  color: #009ae5;
}

.item__watch {
  color: #80c040;
}

.menu__badge {
  margin-left: 4px;
}

.bt-svg-close {
  position: absolute;
  top: 6px;
  right: 0;  
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-right: 6px;
  stroke: inherit;
  will-change: transform;
  transform-origin: center center;
  transition: transform 0.3s ease-out;
}

.bt-svg-clear {  
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 50%;  
}

.bt-svg-clear:hover,
.bt-svg-clear:focus {
  background: rgba(128, 128, 128, 0.3);
}

.grid > thead > tr {
  background-color: transparent !important;
}

.grid tr:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.1);
}

.bs-cont {
  position: relative;  
  min-height: 200px; 
  max-height: calc(100vh + 36px);
  margin-left: 10px;
  padding: 0;
  border-radius: 4px;
  box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.6);
}

.item-container {
  width: 635px;   
}

.item-container:last-child {
  margin-right: 8px;
}

.browser-container {   
  padding-bottom: 35px;
  min-width: 270px;
  max-width: 400px;
}

.br-caption {
  position: relative;
  background-color: #1b2836;
  width: 100%;
  height: 34px;
  padding: 8px 42px 0 10px;
  margin-bottom: 6px;
  border-radius: 4px 4px 0 0;  
}

.about-container {  
  padding-bottom: 35px;
  min-width: 300px;
  max-width: 660px;
}

@media screen and (min-height: 570px) {
  .item-container,
  .browser-container,
  .about-container {
    height: calc(100vh - 87px);
  }
}
@media screen and (max-width: 600px) {
  .browser-container,
  .about-container,
  .item-container {
    margin-left: 8px;
  }
}