.component-container {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 10px;
}

.hrz-container {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.modal-root {
  z-index: 1050;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 1;
  background: rgba(0, 0, 0, 0.35) none repeat scroll 0% 0%;
  outline: 0 none;
}

.row__topic {
  color: black;
  color: var(--c-bl, black);
 
  display: flex;
  align-items: center;
  justify-content: space-between; 
  line-height: 2;
  padding-left: 8px;
  border-left: 4px solid transparent;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.row__topic:hover {
  border-left: 4px solid #1b75bb;
}

.row__topic:focus,
.row__topic:active {
  background-color: rgba(0, 0, 0, 0.15);
  outline: none;
}

.row__pane-topic {
  line-height: 2.2;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 2px solid transparent;
  outline: none;
  user-select: none;
  cursor: pointer;
}

.row__pane-topic:hover {
  border-bottom: 2px solid #1b75bb;
}

.row__pane-topic:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.row__type2-topic {
  line-height: 2;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding-left: 4px;
  border-left: 4px solid transparent;
  transition: all 0.2s ease-in-out;
  user-select: none;
  cursor: pointer;
}

.row__type2-topic:hover {
  border-left: 4px solid #1b75bb;
}

.row__type2-topic:focus,
.row__type2-topic:active {
  background-color: rgba(0, 0, 0, 0.15);
  outline: 0;
}

.item__browser {
  color: #1b2836;
  color: var(--btf-c, #1b2836);
}

.item__org {
  color: #009ae5;
}

.item__watch {
  color: #80c040;
}

.menu__badge {
  margin-left: 4px;
}

.menu__badge:hover {
  color: #1b75bb;
}

.bt-svg-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-right: 10px;
  stroke: #f44336;
  cursor: pointer;
  will-change: transform;
  transform-origin: center center;
  transition: transform 0.3s ease-out;
}

.bt-svg-close:hover {
  outline: none;
  transform: rotate(90deg) scale(1.3, 1.3) translateY(-3px);
}

.bt-svg-clear {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
}

.bt-svg-clear:hover,
.bt-svg-clear:focus {
  background: rgba(0, 0, 0, 0.3);
  outline: none;
}

.grid > thead > tr {
  background-color: transparent !important;
}

.grid tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.bs-cont {
  position: relative;  
  min-height: 200px; 
  max-height: calc(100vh + 36px);
  margin-left: 10px;
  padding: 0;
  border-radius: 4px;
  box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.6);
}

.item-container {
  width: 635px;   
}

.item-container:last-child {
  margin-right: 8px;
}

.browser-container {  
  padding: 0 3px 35px 0;
  min-width: 270px;
  max-width: 400px;
}

.br-caption {
  position: relative;
  background-color: #1b2836;
  width: 100%;
  height: 34px;
  padding: 8px 42px 0 10px;
  margin-bottom: 6px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.about-container {  
  padding-bottom: 35px;
  min-width: 300px;
  max-width: 660px;
}

@media screen and (min-height: 570px) {
  .item-container,
  .browser-container,
  .about-container {
    height: calc(100vh - 87px);
  }
}
@media screen and (max-width: 600px) {
  .browser-container,
  .about-container,
  .item-container {
    margin-left: 8px;
  }
}