
.dialog__menu-more {
  top: 30px;
  left: -2px;
  z-index: 10;
  text-align: left;
}

.modal-dialog:focus,
.draggable-dialog:focus {
  outline: 0;
}

.input-color {  
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0, 0.3), 0 0 0 1px rgba(0,0,0, 0.1);
}
.input-color:focus {
  outline-offset: 2px;
  outline: 2px solid #fdb316;
}
