
.header {
  display: flex;
  gap: 4px;
  position: relative;
  z-index: 1050;
  width: 100%;
  min-width: 300px;
  padding: 8px 12px 4px;  
  //background-color: #4d4d4d;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.6);
}

.header__icon-erc {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px; 
  cursor: default;  
}
.header__app-label {
  display: inline-block;
  color: #80c040;
  margin-top: 8px;  
  font-size: 16px;
  font-weight: bold;
}
.header__panel-browser {
  top: 45px;
  left: 152px;
  z-index: 1010;
}

.header__bts-right {
  margin-left: auto;
}

.header__bt {
  color: #1b2836;
}

.bt-hot {
  color: #c0c0c0;
  color: var(--bh-c, #c0c0c0);
}


@media screen and (max-width: 1100px) {
  .hbt-ndl {
    display: none;
  }
  .hbt-eurostat {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  .header__icon-erc {
    margin-right: 4px;
  }
  .header__app-label {
    display: none;
  }  
  .header__panel-browser {
    left: 9px;
  }
}

@media screen and (max-width: 770px) {
  .header__icon-erc {
    display: none;
  }  
  .hbt-watch {
    display: none;
  }
}

.provider__note__br {
  display: block;
}

@media screen and (max-width: 540px) {
  .provider__note__br {
    display: none;
  }
  .hbt-about {
    display: none;
  }
}