
.header{
  position : relative;  
  width: calc(100vw - 36px);
  margin-left: 10px;
  margin-right: 26px;
  background-color: rgba(77, 77, 77, 1);
  border : 3px solid #232F3B;
  border-top: none;
  padding-bottom: 3px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media screen and (max-width:580px){
  .header {
    min-height: 82px;
    max-height: 82px;
  }
}

.header__icon-erc{
  display: inline-block;
  width : 32px;
  height : 32px;
  cursor: default;
  position: absolute;
  top: 7px;
  left: 5px;
}
.header__app-label {
  display: inline-block;
  color:#80c040;
  margin-top: 8px;
  margin-left: 35px;
  padding-left: 10px;
  /*padding-right: 10px;*/
  font-size: 16px;
  font-weight: bold;
}
.header__panel-browser {
  position : absolute;
  z-index: : 1010;
  top : 45px;
  left : 80px;

  background-color: rgba(77, 77, 77, 1);
  border : 2px solid rgba(35, 47, 59, 1);
  border-bottom: 4px solid green;
  border-radius : 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 5px;

  padding : 10px;
  padding-top : 5px;
  padding-bottom : 5px;

  width: 280px;
}
@media screen and (max-width:712px){
  .header__app-label {
    display: none;
  }
  .header__icon-erc {
    display: none;
  }
  .header__panel-browser {
    left: 5px;
  }
}
