.icon__quandl{
  position: relative;
  top: -16px;
  display: inline-block;
  width : 160px;
  height : 64px;
  margin-right: 32px;
  stroke : #E15829;
  fill : #E15829;
  border: 3px solid #232f3b;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  transition: fill,border-color 200ms ease-out;
}
.icon__quandl:hover{
  fill: #2f7ed8;
  border-color: #2f7ed8;
  border-width: 6px;
}
.icon__quandl:hover #quandl__tail {
  fill: yellow;
}

.icon__github {
  display: inline-block;
  width : 64px;
  height : 64px;
  fill : #4d4d4d;
  background-color: black;
  border : 4px solid #232f3b;
  border-radius : 50%;
  transition: border-color,background-color 200ms ease-out;
}
.icon__github:hover{
  border-color: #2f7ed8;
  border-width: 8px;
  stroke: yellow;
  stroke-width: 1;
  background-color: yellow;
}

.icon__highcharts {
  display: inline-block;
  width : 192px;
  height : 64px;
  margin-left: 32px;
  border: 3px solid #232f3b;
  transition: border-color 200ms ease-out;
}
.icon__highcharts #highcharts__title{
  fill: #eeeaea;
}

.icon__highcharts:hover {
  border-color: #2f7ed8;
  border-width: 6px;
}
.icon__highcharts:hover #highcharts__title {
  fill: yellow;
}
