.icon__erc{
  display: inline-block;
  width : 32px;
  height : 32px;
  cursor: default;
}

.icon__quandl{
  position: relative;
  top: -16px;
  display: inline-block;
  width : 160px;
  height : 64px;
  margin-right: 32px;
  border: 3px solid #232f3b;
  padding: 14px 16px 10px;
  transition: border-color, border-width, fill 200ms ease-out;
  stroke : #e15829;
  fill : #e15829;
}
.icon__quandl:hover{
  border-color: #2f7ed8;
  border-width: 6px;
  fill: yellow;
}

.icon__github {
  display: inline-block;
  width : 70px;
  height : 70px;
  background-color: black;
  border : 4px solid #232f3b;
  border-radius : 50%;
  transition: border-color,background-color, border-width 200ms ease-out;
  fill : #4d4d4d;
}
.icon__github:hover{
  border-color: #2f7ed8;
  border-width: 8px;
  background-color: yellow;
  stroke: yellow;
  stroke-width: 1;
}

.icon__react {
  position: relative;
  top: -4px;
  display: inline-block;
  width : 74px;
  height : 74px;
  border : 4px solid #232f3b;
  border-radius : 50%;
  padding: 6px;
  margin-left: 32px;
  transition: border-color, border-width, stroke, stroke-width, fill 200ms ease-out;
  fill: #00d8ff;
  stroke: #00d8ff;
  stroke-width: 12;
}
.icon__react:hover {
  border-color: #2f7ed8;
  border-width: 6px;
  fill: yellow;
  stroke: yellow;
  stroke-width: 24;
}

.icon__highcharts {
  display: inline-block;
  width : 192px;
  height : 64px;
  margin-left: 32px;
  border: 3px solid #232f3b;
  transition: border-color, border-width 200ms ease-out;
  fill: #eeeaea;
}
.icon__highcharts:hover {
  border-color: #2f7ed8;
  border-width: 6px;
  fill: yellow;
}
