
.twit {
  width: 100%;
  padding: 8px 0 6px 0;
  line-height: 1.5;
  font-weight: bold;
  border-radius: 0 2px 2px 0;  
  box-shadow: rgba(0, 0, 0, 0.6) 1px 4px;  
}

.twit > a {
  color: var(--c-bl);
  display: block; 
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.twit > a:hover {
  border-bottom: 2px solid #1b75bb;
}
