.control-info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: rgba(128, 128, 128, 0.8);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.control-grade {
  font-weight: bold;
}
