.icon__erc {
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: default;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding: 4px 0 8px 0;
}

.logo-item {
  height: 64px;
  margin: 8px 8px 0 8px;
  border-width: 3px; 
  border-style: solid; 
  border-color: inherit;
  text-decoration: none;
  transition: color, border-color, fill, stroke 300ms ease-out;
}
.logo-item:hover {
  border-color: #2f7ed8;
  color: #f1d600;
}

.logo-ndl {
  color: #b0b2b5;
  width: 200px;
}
.logo-ndl > svg {
  transform: scale(0.9, 0.75);
}
.logo-ndl text {
  fill: currentColor;
  font-family: sans-serif;
  font-weight: 100;
  transform: scale(1.1);
}
.logo-ndl:hover {
  color: #f1d600;
}

.logo-github {
  width: 72px;
  height: 72px;
  background-color: black;
  border-width: 4px;
  border-radius: 50%;
  transition: background-color 300ms ease-out;
  fill: inherit;
}
.logo-github:hover {
  background-color: #f1d600;
  stroke: #f1d600;
}

.logo-react {
  width: 72px;
  height: 72px;
  margin: 0 0 0 26px;
  padding: 6px;
  border-width: 4px;
  border-radius: 50%;
  fill: #00d8ff;
  stroke: #00d8ff;
  stroke-width: 12;
}
.logo-react:hover {
  fill: #f1d600;
  stroke: #f1d600;
}

.logo-highcharts {
  display: inline-block;
  width: 180px;
  margin-left: 22px;
  fill: #6d6dac;
}
.logo-highcharts:hover {
  fill: #f1d600;
}

.data-provider-logo {
  display: inline-block;
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  font-size: 32px;
  color: #009ae5;
  padding: 6px 16px;
}
