
.slider-pages {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  overflow-x: hidden;
  transition: all 700ms ease-out;
}

@media only screen and (max-width: 375px) {
  .slider-pages {
    transition: all 300ms ease-out;
  }  
}