
.slider-pages {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  overflow-x: hidden;
  width: fit-content;
  transition: .7s ease-out;
  will-change: transform;
}

@media only screen and (max-width: 375px) {
  .slider-pages {
    transition: all .3s ease-out;
  }  
}