.not-selected {
  -webkit-user-select: none;   /* Chrome all / Safari all / Opera */
  user-select: none;           /* Likely future */
}

.gap-right::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 100%;
  background: inherit;
}

.text-clip {
  display: inline-block;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}

.p-r {
  position: relative;
}

.va-b {
  vertical-align: bottom;
}
.va-m {
  vertical-align: middle;
}

.pt-4 {
  padding-top: 4px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pr-8 {
  padding-right: 8px;
}

.black {
  color: black;
  color: var(--c-bl, black);
}
.dark-blue {
  color: #1b75bb;
}
