
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", "Lato", sans-serif;
  font-weight: 300;
  background-color: gray;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
}

button {
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:focus {
  outline: 0;
}

button:hover {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}


