
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto", "Arial", "Lato", sans-serif;
    font-weight: 300;
    background-color: gray;
}

html {
  font-size: 100%;
}
