 :root {
   /*topic-color*/
   --t-c: #1b2836;   

   /*scrollbar color1*/
   --s-c1: #8bc34a;  
   /*scrollbar color2*/
   --s-c2: #1b2836;  

   /*
   Component container background-color, 
   LogosBar fill, 
   SvgCheckBox SvgChecked stroke
   */
   --c-bg: #4d4d4d;  
   
   /*LogosBar border-color*/
   --lb-bc: #1b2836; 
 
   /*Hot FlatButton color*/
   --bh-c: #c0c0c0;

   /*Element background-color*/
   --el-bg: #1b2836;
   /*Element color (dialogs)*/
   --el-c: silver;
 }

 .c-bg {
   background-color: #4d4d4d;
   background-color: var(--c-bg, #4d4d4d); 
 }

 .el-c {   
   color: silver;
   color: var(--el-c, silver);

   fill: silver;
   fill: var(--el-c, silver);

   stroke: silver;
   stroke: var(--el-c, silver);
 } 

 .el-bg {
   background-color: #1b2836;
   background-color: var(--el-bg, #1b2836);
 }

 .el-b {
   border: 2px solid #1b2836;
   border: 2px solid var(--el-bg, #1b2836);
 }
           