 :root {
   /*body tag backgroun-color*/
   --b-bg: #5f5f5f;

   /*scrollbar color1*/
   --s-c1: #8bc34a;  
   /*scrollbar color2*/
   --s-c2: #1b2836;  

   /*
   Component container background-color, 
   LogosBar fill, 
   SvgCheckBox SvgChecked stroke
   */
   --c-bg: #4d4d4d;  
   
   /*LogosBar border-color*/
   --lb-bc: #1b2836; 
 
   /*Hot FlatButton color*/
   --bh-c: #c0c0c0;

   /*Element background-color*/
   --el-bg: #1b2836;
   /*Element color (dialogs)*/
   --el-c: silver;

   /*Button flat color*/   
   --btf-c: #1b2836;
   /*Color black*/
   --c-bl: black;
  /*menu-item color*/
  --mi-c: #1b2836;
 }

           