 :root {
   --t-c: #1b2836; /*topic-color*/

   --s-c1: #8bc34a; /*scrollbar color1*/
   --s-c2: #1b2836; /*scrollbar color2*/

   --c-bg: #4d4d4d; /*Component container background-color*/
   --bh-c: #c0c0c0; /*Hot FlatButton color*/
 }

 .c-bg {
   background-color: #4d4d4d;
   background-color: var(--c-bg, #4d4d4d); 
 }
           