
.with-scroll::-webkit-scrollbar {
  /* background-color:black; */
  width: 5px;
}

.with-scroll::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: black;
  width: 2px;
  border-radius: 2px;
}

.with-scroll::-webkit-scrollbar-track-piece {
  width: 2px;
  background-color: #1b2836;

  /* background-color:#333333; */
}

.with-scroll::-webkit-scrollbar-thumb {
  width: 3px;
  height: 50px;
	background-color: #8BC34A;
	/*background-color:#909090;*/
  border-radius: 2px;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}

.scroll-browser-by{
	overflow-y: auto;
	height: 80%;
	/*height: calc(100vh - 180px);*/
	height: calc(100% - 85px);
	padding-right: 10px;
}
.scroll-browser-by--search {
	overflow-y: auto;
	height: 80%;
	/*height: calc(100vh - 215px);*/
	height: calc(100% - 120px);
	padding-right: 10px;
}
