
.with-scroll {
  /*Firefox */
  scrollbar-width: thin;
  scrollbar-color: #8bc34a #1b2836;

  overscroll-behavior-y: contain;

  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.with-scroll::-webkit-scrollbar {
  width: 5px;
}

.with-scroll::-webkit-scrollbar-track {
  width: 2px;
  border-radius: 2px;
}

.with-scroll::-webkit-scrollbar-thumb {
  width: 3px;
  height: 50px;
  background-color: #8BC34A;
  border-radius: 2px; 
}

.with-scroll::-webkit-scrollbar-track-piece {
  background-color: #1b2836;  
  width: 2px; 
}
.with-scroll--grey {
  scrollbar-color: #8bc34a #1b2836;
}
.with-scroll--grey::-webkit-scrollbar-track-piece {  
  background-color: #1b2836;  
}
.with-scroll--white {
  scrollbar-color: #8bc34a #bcd8f5;
}
.with-scroll--white::-webkit-scrollbar-track-piece {
  background-color: #bcd8f5;  
}
.with-scroll--sand {
  scrollbar-color: #8bc34a #795548;
}
.with-scroll--sand::-webkit-scrollbar-track-piece {
  background-color: #795548;  
}

.scroll-browser-by{
  overflow-y: auto;
  height: 80%;
  height: calc(100% - 95px);
  padding-right: 10px;
}
.scroll-browser-by--search {
  overflow-y: auto;
  height: 80%;
  height: calc(100% - 140px);
  padding-right: 10px;
}

.scroll-container-y {
  overflow-y: auto;
  height: 90%;
  padding-right: 10px;
}

.scroll-items {
  height: 85%;
  height: calc(100% - 50px);
}
.scroll-menu {
  height: 94%;
  height: calc(100% - 20px); 
}
.scroll-watch {
  height: 70%;
  height: calc(100% - 65px);
}