
.with-scroll-x__bt-r {
  display: none;
}

.with-scroll-x {
  position: relative;
  background-color: transparent;
  height: 30px;
  overflow-y: hidden;
}


@media screen and (max-width: 450px) {
 .with-scroll-x {   
   /*scrollbar-width: thin;*/
   overflow-x: auto;
   height: 34px;
   margin: -4px 0;
   clip-path: inset(6px 0); 
 }
 .with-scroll-x__bt-r {
   display: inline-block;
 }
}

.with-scroll {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #8bc34a #1b2836;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
}

.with-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.with-scroll::-webkit-scrollbar-thumb {
  width: 3px;
  height: 50px;
  background-color: #8bc34a;
  border-radius: 2px;
}
.with-scroll::-webkit-scrollbar-track {
  width: 2px;
  border-radius: 2px;
}
.with-scroll::-webkit-scrollbar-track-piece {
  /*background-color: #1b2836;*/
  width: 2px;
}
/*
.with-scroll::-webkit-scrollbar-corner {
  background-color: #1b2836;
}
*/

.scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--s-c1) var(--s-c2);
}
.scroll::-webkit-scrollbar-track-piece {
  background-color: var(--s-c2);
}

.scroll-browser-by {
  overflow-y: auto;
  height: 80%;
  height: calc(100% - 95px);
  padding-right: 10px;
}
.scroll-browser-by--search {
  overflow-y: auto;
  height: 80%;
  height: calc(100% - 140px);
  padding-right: 10px;
}

.scroll-container-y {
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
  padding-right: 10px;
}

.scroll-items {
  height: 85%;
  height: calc(100% - 50px);
}
.scroll-menu {
  height: 94%;
  height: calc(100% - 20px);
}
.scroll-watch {
  height: 70%;
  height: calc(100% - 65px);
}
