.sp-value {
  color: #2f7ed8;  
  white-space: nowrap;
}

.sp-label {
  color: #1b75bb;
  font-size: 16px;
}

.sp-input {
  display: inline-block;
  width: 100px;
  padding-right: 6px;
  text-align: right;
}

.sp-date {
  color: #fdb316;
  display: inline-block;
  white-space: nowrap;
}

.tk-black {
  background-color: transparent;
  color: var(--c-bl);
}