
.svg-move {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 12px;
}
.svg-move__svg {
  padding-top: 1px;
  position: relative;
  top: 1px;
}

.svg-up {
  stroke: #4caf50;
  fill: #4caf50;
  stroke-width: 1;
  stroke-linejoin: miter;
}
.svg-equal {
  stroke: #2f7ed8;
  stroke-width: 2;
}
.svg-down {
  stroke: #f44336;
  fill: #f44336;
  stroke-width: 1;
  stroke-linejoin: miter;
}