.label-switch { 
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;  
  column-gap: 12px;
  line-height: initial;
}

.switch {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0; 
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
}

.switch:focus-visible + .switch-track {
  outline: 2px solid orange;
  outline-offset: 2px;
}

.switch-track {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;  
  border-radius: 10px;
  cursor: pointer;
}

.switch-thumb {
  display: inline-block;
  width: 15px;   
  height: 15px;
  border-radius: 50%;    
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: background-color 0.25s, transform 0.25s;
}

.switch-label {
  display: inline-block;
  vertical-align: bottom;
  font-weight: bold;
  user-select: none;
}