
.tp__header {
  color: #fdb316;
  position: relative;
  height: 26px;
  padding: 4px 25px 0 5px;
  font-size: 16px;
  font-weight: bold;
  pointer-events: visible;
  cursor: pointer;
}
.tp__header:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.tp__header__caption {
  display: inline-block;
  max-width: 400px;
}

.tp__header__close {
  color: #ed5813;
  display: inline-block;
  position: absolute;
  right: 5px;
}

.tp__body {
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
}
.tp__body__part1::after {
  content: "";
  display: table;
  clear: both;
}

.tp__body__sparklines {
  height: 50px;
  width: 100px;
  padding-bottom: 5px;
}

.tp__row {
  padding: 2px 0;
}

.tp__title {
  color: #a487d4;
}
.tp__value {
  color: #2f7ed8;
}

.tp__bt {
  color: #4caf50;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 2px;
  cursor: pointer;
  pointer-events: visible;
}
.tp__bt:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
