
.native-link {
  color: #0b8fff;
  margin-bottom: 2px;
  border-bottom: 1px solid;
  font-weight: bold;
  text-decoration: none;
}
.native-link:hover {
  margin-bottom: 0;
  border-bottom-width: 3px;
}

.descr-datasource h1 {
  color: black;
  font-size: 18px;
  font-weight: normal;
}
.descr-datasource p {
  color: gray;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  white-space: pre-line;
}
.descr-datasource span {
  color: black;
}

/* Provider Links */
.descr-datasource a,
.info__descr a,
.data-provider-link {
  color: #009ae5;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid;
  text-decoration: none;
}
.descr-datasource a:hover,
.info__descr a:hover,
.data-provider-link:hover {
  border-bottom-width: 3px;
}
@media screen and (max-width: 600px) {
  .descr-datasource a,
  .info__descr a,
  .native-link,
  .data-provider-link {
     border-bottom: 2px solid;
  }
}
