
.x-link {
  background-color: #1b95e0;
}
.x-link:hover {
  background-color: #0c7abf;
}

.x-link span {
  border-bottom: thin solid;
}
.x-link:hover span {
  border-bottom-width: medium;
}

.descr-datasource h1 {
  color: var(--c-bl);
  font-size: 18px;
  font-weight: normal;
}
.descr-datasource p {
  color: grey;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  white-space: pre-line;
}
.descr-datasource span {
  color: var(--c-bl);
}


