
/*general button circle */
.bt-circle {
  display: inline-block;
  border-radius: 50%;     
  text-align: center;  
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.bt-circle-hf:hover,
.bt-circle-hf:focus {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.3), 0 4px 15px 0 rgba(0,0,0,0.2);
}

/* button circle customizations */
.bt-c1 {
  color: #80c040;
  border: 2px solid #80c040;
  width: 26px;
  height: 26px;
  background-color: transparent;
  transition: background-color 200ms ease-out;
}

.bt-c2 {
  background-color: #949ab4;
  width: 32px;
  height: 32px;
  font-weight: bold;
}

.bt {
  border-radius: 2px;
  font-weight: bold;
}
.bt:focus {
  background: rgba(164, 164, 164, 0.3);
}

.bt-left {
  padding-left: 2px;
  text-align: left;
}

.bt-more {
  height: 26px;
  padding: 2px 6px;
  border-radius: 2px;
  fill: inherit;
  stroke: inherit;
}
.bt-more:hover,
.bt-more:focus { 
  background: rgba(164, 164, 164, 0.3);
}
