
.tab {
  display: inline-block;
  color: #9e9e9e;
  padding: 6px 10px;
  border-bottom: 3px solid #9e9e9e;
  font-weight: bold;
  cursor: pointer;
  outline: 0; }

.tab:focus,
.tab:hover,
.tab:active {
  color: #2f7ed8;
  outline: 0; }

.tab--selected {
  border-bottom: 3px solid #2f7ed8; }
