
.open-close {
  display: inline-block;
  width: 100%;
  padding-left: 8px;
  cursor: pointer;
}

.cfs-dark {  
  color: var(--btf-c);
  fill: var(--btf-c);
  stroke: var(--btf-c);  
}
.cfs-black {  
  color: var(--c-bl);
  fill: var(--c-bl);
  stroke: var(--c-bl);  
}

.open-close:focus,
.open-close:active {
  outline: none;
  background-color: rgba(128, 128, 128, 0.3);
}

.open-close__exp {
  border-color: #1b2836;
  border-color: var(--btf-c);
}
