
.zhn-select {
  display: inline-block;
  position: relative;
  background-color: #e1e1cb;
  width: 160px;
}

.zhn-select__input {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  outline: medium none;
  color: green;
  width: 100%;
  height: 30px;
  padding: 0 40px 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.zhn-select__spinner {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 10px;
  width: 20px;
  height: 20px;
}
.zhn-select__spinner--failed {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-color: #f44336;
  cursor: pointer;
}

.zhn-select__bt-arrow {
  position: absolute;
  right: 0;
  width: 35px;
  padding: 12px 5px 6px 0;
}
.zhn-select__bt-arrow:hover {
  outline: 0;
}
.zhn-select__bt-arrow > span {
  display: inline-block;
  height: 0;
  width: 0;
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 10px 8px 4px;
}

.zhn-select__input__hr {
  border-width: medium medium 1px;
  border-style: none none solid;
  border-color: #1b75bb;
  border-image: none;
  margin: 0 40px 5px 10px;
}

.zhn-select__options {
  z-index: 10;
  position: absolute;
  left: 0;
  background-color: #e1e1cb;
  color: green;
  width: 160px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.zhn-select__options__div {
  max-height: 200px;
  overflow: hidden auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
.zhn-select__options__div:focus {
  outline: 0
}

.zhn-select__row {
  color: green;
  background-color: #d5d5bc;
  width: 100%;
  padding: 6px 0 6px 5px;
  border-bottom: solid 2px transparent;
  cursor: pointer;
}
.zhn-select__row:nth-child(odd) {
  background-color: #c3c3ac;
}

.zhn-select__row:hover {
  border-bottom: solid 2px #1b75bb;
  font-weight: bolder;
}
.zhn-select__row:focus {
  outline: 0;
}
.zhn-select__row--active {
  border-bottom: solid 2px #1b75bb;
  font-weight: bolder;
}

.zhn-select__footer {
  position: relative;
  background-color: #a3a3a3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 1.5;
}
.zhn-select__footer__index {
  display: inline-block;
  color: black;
  padding: 4px 0 4px 10px;
  font-weight: bold;
}
.zhn-select__footer__bts {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 4px;
  color: black;
  font-weight: bold;
}
.zhn-select__footer__bt {
  margin-right: 4px;
  background-color: #949ab4;
}
