.not-selected {
  -webkit-user-select: none;   /* Chrome all / Safari all / Opera */
  user-select: none;           /* Likely future */
}

.gap-right::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 100%;
  background: inherit;
}

.text-clip {
  display: inline-block;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}

.text-ellipsis {
  white-space: nowrap; 
  text-overflow: ellipsis;
  overflow: hidden;
}

.p-r {
  position: relative;
}

.va-b {
  vertical-align: bottom;
}
.va-m {
  vertical-align: middle;
}

.pb-8 {
  padding-bottom: 8px;
}
.pr-8 {
  padding-right: 8px;
}

.w-100 {
  width: 100%;
}

.black {
  color: #1b2836;
  color: var(--c-bl);
}
.stroke-black {
  stroke: #1b2836;
  stroke: var(--c-bl);
}
.dark-blue {
  color: #1b75bb;
}

.toggle-arrow {
  display: inline-block;
  height: 0;
  width: 0;
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 10px 8px 4px;
}