 .c-bg {
   background-color: #4d4d4d;
   background-color: var(--c-bg); 
 }

 .el-c {   
   color: silver;
   color: var(--el-c);

   fill: silver;
   fill: var(--el-c);

   stroke: silver;
   stroke: var(--el-c);
 } 

 .el-bg {
   background-color: #1b2836;
   background-color: var(--el-bg);
 }

 .el-b {
   border: 2px solid #1b2836;
   border: 2px solid var(--el-bg);
 }

 .el-bb {
   border-bottom: 2px solid #1b2836;
   border-bottom: 2px solid var(--el-bg);
 } 
