 .c-bg {
   background-color: #4d4d4d;
   background-color: var(--c-bg, #4d4d4d); 
 }

 .el-c {   
   color: silver;
   color: var(--el-c, silver);

   fill: silver;
   fill: var(--el-c, silver);

   stroke: silver;
   stroke: var(--el-c, silver);
 } 

 .el-bg {
   background-color: #1b2836;
   background-color: var(--el-bg, #1b2836);
 }

 .el-b {
   border: 2px solid #1b2836;
   border: 2px solid var(--el-bg, #1b2836);
 }