.component-container {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 10px;
}

.hrz-container {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.modal-root {
  z-index: 1050;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  background: rgba(0, 0, 0, 0.35) none repeat scroll 0% 0%;
  outline: 0 none;
}

.row__topic {
  line-height: 2;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 12px;
  user-select: none;
  cursor: pointer;
}

.row__topic:hover {
  border-bottom: 1px solid #1b75bb;
}
.row__topic:focus,
.row__topic:active {
  outline: none;
  border-bottom: 1px solid #1b75bb;
}

.row__pane-topic {
  line-height: 2.2;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 1px 16px;
  outline: none;
  user-select: none;
  cursor: pointer;
}

.row__pane-topic:focus {
  border-bottom: 1px solid #1b75bb;
}

.row__type2-topic {
  line-height: 2;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  user-select: none;
  cursor: pointer;
}

.row__type2-topic:nth-child(odd) {
  background-color: rgba(0,0,0, 0.1);
}

.row__type2-topic:hover {
  border-bottom: 1px solid #1b75bb;
}

.item__browser {
  color: #1b2836;
}
.item__quandl {
  color: #e05927;
}
.item__dbnomics {
  color: #abd9bf;
}
.item__eurostat {
  color: #009ae5;
}
.item__watch {
  color: #80c040;
}
.item__about {
  color: #1b2836;
}

.menu__badge {
  display: inline-block;
  color: black;
  background-color: #1b2836;
  float: right;  
  border-radius: 30%;
}

.menu__badge:hover {
  color: #1b75bb;
}

.svg-close {
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 2px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  will-change: transform;
}

.svg-close:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg) scale(1.3, 1.3) translateY(-3px);
}


/* TabPane */
.tabpane__tabs::before {
  content: " ";
  display: table;
}

.tabpane__tabs::after {
  clear: both;
  content: " ";
  display: table;
}

.grid > thead > tr {
  background-color: transparent !important;
}
.grid tr:nth-child(odd) {
  background-color: rgba(0,0,0, 0.1);
}
