 {
    "only" : [
                "*.js",
                "*.jsx",
                "*.es6"
             ],    
    "plugins" : [
        "transform-decorators-legacy",
      [ "transform-react-remove-prop-types", {
         "mode": "wrap",
         "ignoreFilenames":["node_modules"]
      }],
      [ "transform-runtime", {
         "helpers": true,
         "polyfill": false,
         "regenerator": false,
         "moduleName": "babel-runtime"
      }],
      "dynamic-import-system-import"      
    ],
    "presets" : [
                   "es2015",
                   "react",
                   "stage-2" 
                ]
 }